*{
    margin: 0;
    padding: 0;
 }
.orange
{
    height: 255px;
    background-color: orangered;
}
.white
{
    height: 255px;
    background-color: white;
}
.green
{
    height: 255px;
    background-color: green;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
img{
    animation: rotate 10s infinite linear;
}